body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background: rgba(255, 0, 0, 1);
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 15px 0;
    font-weight: 900;
}

p {
    margin: 0;
}

.container {
    text-align: center;
    font-family: sans-serif;
    display: flex;
    padding: 10px 15%;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.weapon-holder {
    box-sizing: border-box;
    height: 100%;
    border: 1px solid black;
    border-right: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    flex-shrink: 2;
    flex-basis: 400px;
}

.result {
    box-sizing: border-box;
    height: 100%;
    border: 1px solid black;
    flex-shrink: 1;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 400px;
}


.weapon-holder > button > img {
    max-width: 100%;
    height: auto;
}

.weapon-holder > .weapon {
    max-width: 150px;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    align-items: center;
}

.weapon-holder > button::before {
    content: '';
    position: absolute;
    inset: 0;
    background: transparent;
    z-index: 1;
}



#player-computer-score {
    display: flex;
    gap: 10px;
}

#container {
    text-align: center;
}

.restart {
    display: none;
    font-size: 1.3em;
    font-family: sans-serif;
}

button {
    background: none;
}

.footer {
    text-align: center;
    background: red;
    color: white;
}