body {
    padding: 0;
    margin: 0;
}

.header {
    background: rgba(255, 0, 0, 1);
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 15px 0;
    font-weight: 900;
}

p {
    margin: 0;
}

.container {
    font-family: sans-serif;
    display: flex;
    padding: 10px 15%;
}

.weapon-holder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}


.weapon-holder > button > img {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
}

.weapon-holder > button {
    position: relative;
}

.weapon-holder > button::before {
    content: '';
    position: absolute;
    inset: 0;
    background: transparent;
    z-index: 1;
}

.result {
    font-size: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#player-computer-score {
    display: flex;
    gap: 10px;
}

#container {
    text-align: center;
}

.restart {
    display: none;
    font-size: 1.3em;
    font-family: sans-serif;
}

button {
    background: none;
}